body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
.buttons.active{
  border: solid 4px green;
}
.die, .buttons{
  display: inline-block;
  padding: 20px;
  border: solid 0.5px;
  margin: 20px;
  vertical-align: top;
}
.cleared{
  padding-bottom: 37px;
  padding-right: 25px;
}

.die:hover{
  background-color: #87CEFA;
}

.tie{
  color: blue;
}

.win{
  color: green;
}

.lose{
  color: red;
}

button{
  background-color: white;
  border-color: gray;
}

.pinned{
  background-color: #87CEFA;
  border-color: red;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;

}
.modal{
  width: 300px;
  height: 200px;
  line-height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #f1c40f;
  border-radius: 5px;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
}
