body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.die, .buttons{
  display: inline-block;
  padding: 20px;
  border: solid black 0.5px;
  margin: 20px;
}

.die:hover{
  background-color: #87CEFA;
}

button{
  background-color: white;
}

.pinned{
  background-color: #87CEFA;
  border-color: red;
}
